body {background-color:#E6E6FA; color:#191970;}
h1 {background-color:#191970; color:#E6E6FA;}
h2 {background-color:#AEAED4; color:#191970;}
h2 {margin-bottom: 1; margin-top: 1;}
blockquote {margin-top: 0; margin-bottom: 0;}